<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         bootstrap="vendor/autoload.php" 
         colors="true" 
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.3/phpunit.xsd" 
         cacheDirectory=".phpunit.cache">
  
  <testsuites>
    <testsuite name="Unit Tests">
      <directory>tests</directory> <!-- Aponta para a pasta tests -->
    </testsuite>
  </testsuites>
  
  <source>
    <include>
      <directory suffix=".php">./app</directory> <!-- Aponta para o código principal -->
    </include>
  </source>
</phpunit>
